<!DOCTYPE html>
<html>
<head>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<meta charset="UTF-8">
<title>Cadastro de Usuarios</title>


<style type="text/css">

	table.striped>tbody>tr:nth-child(odd){
		background-color: rgba(140,130,130,0.5);
	}
	form input[type=submit]{
		color: white;
	}
</style>
</head>
<body>

</body>
</html>